
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/MainLayout.cshtml";
}

<div class="row justify-content-center mt-1">

    <form class="form-group mt-5" method="post">
        <h2 class="text-center">Kategori ekle </h2>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="form-group border border-dark rounded p-3">
                    <label>Yeni Kategori Ekle</label>
                    <input type="text" class="form-control" id="KategoriAd" name="KategoriAd" placeholder="Kategori Adı" required>
                </div>
                <div class="row justify-content-center mt-3">
                    <div class="col-md-3">
                        <div class="form-group">
                            <button class="btn btn-primary">Kategori Ekle</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>